.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0 0;
  padding: 0 0;
}

body {
  background-color: #f5f8ff;
}
/* shared styles */

.display-flex {
  display: flex;
}

.text-levender {
  color: #8987a1;
}
.text-black {
  color: #000000;
}
.text-light-gray {
  color: rgba(0, 0, 0, 0.5);
}
.text-orange {
  color: #e95a08;
}
/* header styles */

/* nav styles */
.navbar {
  margin: 0 auto;
  padding-top: 30px;
  max-width: 1140px;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  margin-left: 48px;
  font-size: 18px;
}
#nav-home {
  color: #252432;
  font-weight: 700;
}
/* banner styles */
.banner {
  margin: 120px auto;
  max-width: 1140px;
  align-items: flex-end;
}
.banner-title {
  font-size: 4rem;
  margin-bottom: 13px;
}
.banner-description {
  font-size: 1.5rem;
}
.banner-img {
  width: 100%;
}

/* main section */
/* plant section */
.plant-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.plant-subtitle {
  text-align: center;
  max-width: 888px;
  font-size: 1.5rem;
  margin: 0 auto;
  margin-bottom: 49px;
}
.card-container {
  margin: 0 auto;
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 210px;
}
.card-details {
  max-width: 270px;
}
.card-image {
  width: 100%;
  margin-bottom: 30px;
}

.card-title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.card-value {
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.add-to-cart {
  margin-bottom: 30px;
  width: 100%;
  padding: 19px 80px;
  background-color: #e95a08;
  color: #ffffff;
  border: none;
  font-size: 1rem;
}

/* Plants Lover Section */
.plants-lover {
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 134px;
}
.plant-lover-details {
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.plant-lover-img {
  width: 100%;
}
.plant-lover-title {
  font-size: 3.1rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.plant-lover-paragraph {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.badge {
  position: absolute;
  margin-top: -740px;
  margin-left: 350px;
}
/* .badge-pic {
  background: none;
  box-shadow: -4px 10px 4px rgba(0, 0, 0, 0.25);
} */

/* Latest Deal Section */
.latest-deal {
  margin: 0 auto;
  max-width: 1140px;
  margin-bottom: 120px;
}
.latest-deal-description {
  max-width: 888px;
  margin: 0 auto;
}

.latest-deal-title {
  font-size: 3.1rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}
.latest-deal-details {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 120px;
}

.deals-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr) 753px;
  gap: 28px;
  margin-bottom: 120px;
}
.combo-deal {
  max-width: 366.22px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
}
.first-deal {
  background-image: url("../assets/deal-bloom.png");

  border-radius: 14px;
  padding-top: 65px;
  padding-bottom: 50px;
}
.combo-deal-title {
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  margin-bottom: 22px;
}
.combo-deal-subtitle {
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  text-decoration: underline;
}

.second-deal {
  background-image: url("../assets/deal-ana.png");

  border-radius: 14px;
  padding-top: 65px;
  padding-bottom: 50px;
}

.single-deal {
  background-image: url("../assets/deal-zabo.png");
  border-radius: 12px;
  max-width: 753px;
  padding-top: 160px;
}

.single-deal-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.single-deal-subtitle {
  font-size: 1.7rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  text-decoration: underline;
}

/*  Join Section */
.join {
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}
.join-title {
  font-size: 3.1rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  padding-top: 199px;
  margin-bottom: 23px;
}
.input-container {
  padding-bottom: 193px;
}
.email {
  width: 644px;
  padding: 15px 20px;
  margin-right: 0px;
}
.submit {
  width: 186px;
  padding: 19px 53px;
  margin-left: 0px;
  background-color: #e95a08;
  color: #ffffff;
  border: none;
}
/* footer */
.footer-info {
  font-size: 1.5rem;
}
.footer-container {
  display: grid;
  max-width: 1140px;
  grid-template-columns: 359px 85px 128px 216px;
  gap: 110px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.footer-link {
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  font-size: 1.1rem;
  color: grey;
}
.footer-link-logo {
  display: flex;
  gap: 24px;
}
.link-logo {
  height: 36px;
  width: 36px;
}

@media screen and (max-width: 576px) {
  section,
  .banner-title,
  .banner-description,
  .plant-lover-details,
  .combo-deal,
  .single-deal,
  footer {
    margin: 0 16px;
  }
  nav ul li {
    display: none;
  }
  nav ul li:last-child {
    display: block;
  }
  .navbar {
    margin: 13px 16px 28px;
  }
  .banner {
    margin-top: 0px;
    margin-bottom: 28px;
    flex-direction: column-reverse;
  }
  .banner-title {
    font-size: 2rem;
    margin-top: 28px;
    margin-bottom: 13px;
  }
  .banner-description {
    margin-bottom: 65px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .plant-lover-details {
    flex-direction: column;
  }
  .badge {
    display: none;
  }
  .deals-container,
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .card-container {
    margin-bottom: 41.5px;
  }
  .combo-deal {
    max-width: 753px;
  }
  .single-deal {
    padding-top: 65px;
    padding-bottom: 50px;
  }
  .single-deal-title {
    font-size: 1.1rem;
    margin-bottom: 16px;
  }
  .single-deal-subtitle {
    font-size: 1rem;
  }
  .email {
    width: 218px;
  }
  .submit {
    width: 103px;
  }
  .join .join-title {
    font-size: 1.1rem;
  }
  .submit {
    padding-left: 12px;
    padding-right: 12px;
  }
}